@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron text-center">
	<h1 class="purple-text center-text">PurpuraBlog</h1>
	<h2 class="red-text center-text">Ѓорѓина Цениќ</h2>
	<h2 class="red-text center-text">Филип Маркоски</h2>
	<h2 class="red-text center-text">Душица Јанковиќ</h2>
</div>
